<div [ngSwitch]="isAdmin">
    <ul *ngSwitchCase="false" class="p-0">
        <li ngbDropdown #myDrop="ngbDropdown" autoClose="false" class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                <span>
                    <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                    <span>
                        Teams
                    </span>
                </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li *ngIf="account">
                    <a class="dropdown-item" routerLink="team" [queryParams]="{ active: true, headed: true, teamHeadUserLogin: account.login }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <!-- <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
                        <span>My Teams</span>
                    </a>
                </li>
                <li>
                    <!-- <a *ngIf="!isAdmin" class="dropdown-item" routerLink="team-member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span>Teams I'm A Member Of</span>
                            </a> -->
                    <a class="dropdown-item" routerLink="team" [queryParams]="{ active: true, imMemberOf: true }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <!-- <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
                        <span>Teams I'm A Member Of</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="team" [queryParams]="{ active: true, allOthers: true }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <!-- <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
                        <span>Browse More Teams</span>
                    </a>
                </li>
                <!-- <li>
                    <a class="dropdown-item" routerLink="user-info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <!-- <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> >
                        <span>Users</span>
                    </a>
                </li> -->
            </ul>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="dropdown-item" style="padding: .5rem 1rem" routerLink="user-info" (click)="$event.stopPropagation(); myDrop.close();" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>
                    <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                    <span>Users</span>
                </span>
            </a>
        </li>
    </ul>
    <ul *ngSwitchCase="true" class="p-0">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="dropdown-item" style="padding: .5rem 1rem" routerLink="team" [queryParams]="{ active: true, allOthers: true }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>
                    <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                    <span>Teams</span>
                </span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="dropdown-item" style="padding: .5rem 1rem" routerLink="user-info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>
                    <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                    <span>Users</span>
                </span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="dropdown-item" style="padding: .5rem 1rem" routerLink="designation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>
                    <i class="fa fa-fw fa-user-md" aria-hidden="true"></i>
                    <span>Designation</span>
                </span>
            </a>
        </li>
    </ul>
</div>