<nav class="navbar navbar-dark navbar-expand-md p-0">
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngClass]="{ 'sidenav-open': toggle, 'sidenav-close': !toggle }" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li>
                <a class="jh-navbar-toggler bars" [ngStyle]="{'margin-left': getBarsMargin()}" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSidebar()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li *ngSwitchCase="true" ngbDropdown #myDrop="ngbDropdown" (mouseenter)="openDropdown(myDrop)" (mouseleave)="closeDropdown(myDrop)" [ngStyle]="{'width': !toggle ? getProfileMenuWidth() : '250px'}" class="nav-item dropdown pointer" [autoClose]="getMenuAutoClose()"
                (openChange)="toggleProfileMenu($event)" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <!-- <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu"> -->
                <a class="nav-link" ngbDropdownToggle id="profileImageConfig" href="javascript:void(0);" id="account-menu">
                    <div *ngIf="userInfo" class="media">
                        <div>
                            <img *ngIf="userInfo.image" [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" alt="profile image" class="profile-image img-circle mr-3" />
                            <img *ngIf="!userInfo.image" src="../../../content/images/user_200.png" alt="profile image" class="profile-image img-circle mr-3" />
                        </div>
                        <div class="media-body">
                            <div class="mt-0 font-weight-normal float-left">{{userInfo.callingName}}</div>
                        </div>
                    </div>
                    <div *ngIf="!userInfo" class="media">
                        <div>
                            <img src="../../../content/images/user_200.png" alt="profile image" class="profile-image img-circle mr-3" />
                        </div>
                        <div class="media-body">
                            <div *ngIf="account" class="mt-0 font-weight-normal float-left">{{account.login}}</div>
                        </div>
                    </div>
                    <span class="selected"></span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="profileImageConfig" [ngStyle]="{'position': toggle ? 'static' : 'absolute'}">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-lg fa-fw fa-wrench" aria-hidden="true"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-lg fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span>Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="signout" (click)="logout()" id="logout">
                            <i class="fa fa-lg fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span>Sign out</span>
                        </a>
                    </li>
                    <!-- <li *ngSwitchCase="false">
                                        <a class="dropdown-item" (click)="login()" id="login">
                                            <i class="fa fa-lg fa-fw fa-sign-in" aria-hidden="true"></i>
                                            <span>Sign in</span>
                                        </a>
                                    </li> -->
                    <!-- <li *ngSwitchCase="false">
                                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                                            <i class="fa fa-lg fa-fw fa-user-plus" aria-hidden="true"></i>
                                            <span>Register</span>
                                        </a>
                                    </li> -->
                </ul>
            </li>
            <li class="nav-item start" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-lg fa-fw fa-home" aria-hidden="true"></i>
                        <span>Home</span>
                    <span class="selected"></span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="false" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}">
                <a class="nav-link" (click)="login()" id="login">
                    <i class="fa fa-lg fa-fw fa-sign-in" aria-hidden="true"></i>
                    <span>Sign in</span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="navbar navbar-text text-center px-0" [ngStyle]="{'width': !toggle ? '54px' : '250px'}">
                <span class="text-uppercase">Team<span [hidden]="!toggle"> Management</span></span>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngIf="!isAdmin && isAuthenticated()" ngbDropdown #myDrop="ngbDropdown" (mouseenter)="openDropdown(myDrop)" (mouseleave)="closeDropdown(myDrop)" (openChange)="toggleMyTeamsMenu($event)" [autoClose]="getMenuAutoClose()" placement="bottom-right" [ngStyle]="{'width': !toggle ? getMyTeamsMenuWidth() : '250px'}"
                class="nav-item dropdown pointer start" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <!-- <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu"> -->
                <a class="nav-link" ngbDropdownToggle id="myTeamsConfig" href="javascript:void(0);" id="entity-menu">
                    <span>
                                <i class="fa fa-lg fa-fw fa-user" aria-hidden="true"></i>
                                <span [hidden]="!toggle && getMyTeamsMenuWidth() === '54px'">
                                    My Teams
                                </span>
                    <span class="selected"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="myTeamsConfig" [ngStyle]="{'position': toggle ? 'static' : 'absolute'}">
                    <li>
                        <a class="dropdown-item" routerLink="team" [queryParams]="{ viewId: myTeams, inactive: false }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
                            <!-- <i class="fa fa-lg fa-fw fa-asterisk" aria-hidden="true"></i> -->
                            <span>Active Teams</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="team" [queryParams]="{ viewId: myTeams, inactive: true }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
                            <!-- <i class="fa fa-lg fa-fw fa-asterisk" aria-hidden="true"></i> -->
                            <span>Inactive Teams</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *ngIf="!isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <!-- <a *ngIf="!isAdmin" class="dropdown-item" routerLink="team-member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-lg fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span>Teams I'm A Member Of</span>
                            </a> -->
                <a class="nav-link" routerLink="team" [queryParams]="{ viewId: teamsImMemberOf }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-user-circle" aria-hidden="true"></i>
                    <span>Teams I'm A Member Of</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!isAdmin && isAuthenticated()">
                <a class="nav-link" routerLink="team" [queryParams]="{ viewId: browseMoreTeams }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-users" aria-hidden="true"></i>
                    <span>Browse More Teams</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAdmin && isAuthenticated()">
                <a class="nav-link" routerLink="team" [queryParams]="{ viewId: allTeams, inactive: false }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-users" aria-hidden="true"></i>
                    <span>Teams</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="user-info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-asterisk" aria-hidden="true"></i>
                    <span>Users</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" class="navbar navbar-text text-center px-0">
                <span class="text-uppercase">Admin<span [hidden]="!toggle">istration</span></span>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-user-plus" aria-hidden="true"></i>
                    <span>User management</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="designation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-user-md" aria-hidden="true"></i>
                    <span>Designations</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-tachometer" aria-hidden="true"></i>
                    <span>Metrics</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-heart" aria-hidden="true"></i>
                    <span>Health</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-list" aria-hidden="true"></i>
                    <span>Configuration</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-bell" aria-hidden="true"></i>
                    <span>Audits</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-tasks" aria-hidden="true"></i>
                    <span>Logs</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li *ngIf="swaggerEnabled && isAdmin && isAuthenticated()" class="nav-item" [ngStyle]="{'width': !toggle ? '54px' : '250px'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-lg fa-fw fa-book" aria-hidden="true"></i>
                    <span>API</span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>