<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserInfoLabel">Edit Your User Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" [hidden]="!userInfo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="userInfo.id" readonly />
        </div> -->
        <!-- <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName" [(ngModel)]="userInfo.firstName" required/>
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.firstName?.errors?.required">
               This field is required.
            </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName" [(ngModel)]="userInfo.lastName" required/>
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.lastName?.errors?.required">
               This field is required.
            </small>
            </div>
        </div> -->
        <div class="form-group">
            <label class="form-control-label" for="field_callingName">Calling Name</label>
            <input type="text" class="form-control" name="callingName" id="field_callingName" [(ngModel)]="userInfo.callingName" />
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                [(ngModel)]="userInfo.imageUrl" />
        </div> -->
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <div>
                <!-- <img [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" style="max-height: 100px;" *ngIf="userInfo.image" alt="userInfo image" /> -->
                <div class="form-text text-danger clearfix badge-base">
                    <!-- <span class="pull-left">{{userInfo.imageContentType}}, {{byteSize(userInfo.image)}}</span> -->
                    <img *ngIf="!userInfo.image" src="../../../content/images/user_200.png" style="max-width: 100px">
                    <img [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" style="max-height: 100px;" *ngIf="userInfo.image" alt="userInfo image" />
                    <button *ngIf="userInfo.image" type="button" onclick="document.getElementById('file_image').value = null" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-left badge-button">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <br>
                <input type="file" id="file_image" (change)="setFileData($event, userInfo, 'image', true)" accept="image/*" />
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image" [(ngModel)]="userInfo.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType" [(ngModel)]="userInfo.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone" [(ngModel)]="userInfo.phone" />
        </div>

        <!-- <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userInfo.userId" required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.user?.errors?.required">
                This field is required.
            </small>
        </div> -->
        <div class="form-group">
            <label class="form-control-label" for="field_designation">Designation</label>
            <!-- <select class="form-control" id="field_designation" name="designation" [(ngModel)]="userInfo.designationId" required>
                    <option *ngIf="!editForm.value.designation" [ngValue]="null" selected></option>
                    <option [ngValue]="designationOption.id" *ngFor="let designationOption of designations; trackBy: trackDesignationById">{{designationOption.designation}}</option>
                </select> -->
            <input type="text" class="form-control" name="designationDesignation" list="designations" [(ngModel)]="userInfo.designationDesignation" />
            <datalist id="designations">
                        <option *ngIf="!editForm.value.designation" [ngValue]="null" selected></option>
                        <option [ngValue]="designationOption.id" *ngFor="let designationOption of designations; trackBy: trackDesignationById">{{designationOption.designation}}</option>
                    </datalist>
        </div>
        <div [hidden]="!(editForm.controls.designation?.dirty && editForm.controls.designation?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.designation?.errors?.required">
                    This field is required.
                </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_supervisor">Supervisor</label>
            <select class="form-control" id="field_supervisor" name="supervisor" [(ngModel)]="userInfo.supervisorId">
                <option [ngValue]="null"></option>
                <!-- <option [ngValue]="userOption.userId" *ngFor="let userOption of usersForSupervisor; trackBy: trackUserById">[{{userOption.userLogin}}] {{userOption.firstName}} {{userOption.lastName}}</option> -->
                <option [ngValue]="userInfoOption.id" *ngFor="let userInfoOption of userInfosForSupervisor; trackBy: trackUserInfoById">
                    [{{userInfoOption.userLogin}}] {{userInfoOption.firstName}} {{userInfoOption.lastName}}
                    <img *ngIf="userInfoOption.imageUrl" src={{userInfoOption.imageUrl}} style="max-width: 100px">
                    <img *ngIf="!userInfoOption.imageUrl" src="../../../content/images/user_200.png" style="max-width: 100px">
                        </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>