<div *ngIf="userInfo">
    <h2><span>User </span> {{userInfo.userLogin}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <!-- <dt><span>Image</span></dt>
        <dd>
            <img *ngIf="userInfo.imageUrl" src={{userInfo.imageUrl}} style="max-width: 100px">
        </dd> -->
        <img *ngIf="!userInfo.image" src="../../../content/images/user_200.png" style="max-width: 100px">
        <div *ngIf="userInfo.image">
            <a (click)="openFile(userInfo.imageContentType, userInfo.image)">
                <img [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" style="max-width: 18rem;" alt="userInfo image" />
            </a>
            <!-- {{userInfo.imageContentType}}, {{byteSize(userInfo.image)}} -->
        </div>
        <dt><span>Calling Name</span></dt>
        <dd>
            <span>{{userInfo.callingName}}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{userInfo.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{userInfo.lastName}}</span>
        </dd>
        <!-- <dt><span>Image</span></dt>
        <dd>
            <div *ngIf="userInfo.image">
                <a (click)="openFile(userInfo.imageContentType, userInfo.image)">
                    <img [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" style="max-width: 100%;" alt="userInfo image"/>
                </a>
                {{userInfo.imageContentType}}, {{byteSize(userInfo.image)}}
            </div>
        </dd> -->
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{userInfo.phone}}</span>
        </dd>
        <!-- <dt><span>User</span></dt>
        <dd>
            {{userInfo.userLogin}}
        </dd> -->
        <dt><span>Supervisor</span></dt>
        <dd>
            <div *ngIf="userInfo.supervisorId">
                <a [routerLink]="['/user-info', userInfo.supervisorId]">{{userInfo.supervisorCallingName || userInfo.supervisorUserFirstName}}</a>
                <div class="m-0 p-0">
                    {{userInfo.supervisorUserLastName}}, {{userInfo.supervisorUserFirstName}}
                </div>
            </div>
        </dd>
        <dt><span>Designation</span></dt>
        <dd>
            <!-- <div *ngIf="userInfo.designationId">
                <a [routerLink]="['/designation', userInfo.designationId]">{{userInfo.designationDesignation}}</a>
            </div> -->
            {{userInfo.designationDesignation}}
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    <!-- <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/', { outlets: { popup: 'user-info/'+ userInfo.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button> -->
</div>