<div [ngSwitch]="teamId != null">
    <h2 *ngSwitchCase="true">
        <span>Team Members Of {{teamName}}</span>
        <button class="btn btn-primary float-right jh-create-entity create-team-member" [routerLink]="['/', { outlets: { popup: ['team-member-new'] } }]" [queryParams]="{ teamId: teamId, teamName: teamName }">
            <span class="fa fa-plus"></span>
            <span >
            Add a Team Member
            </span>
        </button>
    </h2>
    <a *ngSwitchCase="true" class="" routerLink="../team" [queryParams]="{ active: true, headed: true, allOthers: params.allOthers, teamHeadUserLogin: params.teamHeadUserLogin }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-fw fa-arrow-circle-left" aria-hidden="true"></i>
        <span>Back To Teams</span>
    </a>
    <h2 *ngSwitchCase="false">
        <span>Teams I'm A Member Of</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="teamMembers">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="updatedTime"><span>Updated Time</span> <span class="fa fa-sort"></span></th> -->
                    <th *ngSwitchCase="true" jhiSortBy="userInfoUserLogin"><span>User</span> <span class="fa fa-sort"></span></th>
                    <th *ngSwitchCase="false" jhiSortBy="teamName"><span>Team</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teamMember of teamMembers ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['../team-member', teamMember.id ]">{{teamMember.id}}</a></td> -->
                    <!-- <td>{{teamMember.updatedTime | date:'medium'}}</td> -->
                    <td *ngSwitchCase="true">
                        <div *ngIf="teamMember.userInfoId">
                            <a [routerLink]="['../user-info', teamMember.userInfoId  ]">{{teamMember.userInfoUserLogin}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngSwitchCase="false">
                            <a [routerLink]="['../team', teamMember.teamId  ]">{{teamMember.teamName}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit" [routerLink]="['../team-member', teamMember.id ]" class="btn btn-info btn-sm"> -->
                            <!-- <span class="fa fa-eye"></span> -->
                            <!-- <span class="d-none d-md-inline">View</span> -->
                            <!-- </button> -->
                            <!-- <button type="submit" [routerLink]="['/', { outlets: { popup: 'team-member/'+ teamMember.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button> -->
                        <button *ngIf="teamMember.userInfoUserLogin === currentAccount.login" type="submit" [routerLink]="['/', { outlets: { popup: 'team-member/'+ teamMember.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Remove Me...</span>
                        </button>
                        <button *ngIf="teamMember.userInfoUserLogin !== currentAccount.login" type="submit" [routerLink]="['/', { outlets: { popup: 'team-member/'+ teamMember.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Remove...</span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="teamMembers && teamMembers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>