.sidenav {
    display: none;
}

@media screen and (min-width: 993px) {
    .top-filler {
        height: 60px;
    }
    .my-fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }
    .sidenav {
        /* position: sticky; */
        /* top: 80px; */
        display: block;
    }
    .my-fixed-side {
        position: fixed;
        width: 250px;
        height: 100%;
        /* top: 80px; */
        display: block;
        background-color: #364150;
        transition: 0.5s;
    }
    .ml-250 {
        margin-left: 250px !important;
    }
    .ml-54 {
        margin-left: 54px !important;
    }
}

.sidenav {
    background-color: #364150;
    /* height: 100%; */
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 100;
}

#main {
    height: 100%;
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 0;
    background-color: #e4e5e6
}

body,
.container-fluid {
    background-color: #364150
}