<div class="card mb-4 shadow" style="width: 18rem;">
    <a [routerLink]="['../team', team.id ]">
        <div class="overlay-container">
            <img *ngIf="team.image" [src]="'data:' + team.imageContentType + ';base64,' + team.image" style="max-height: 18rem;" class="card-img-top" alt="team image" />
            <img *ngIf="!team.image" src="../../../content/images/user_group-512.png" style="max-height: 18rem;" class="card-img-top" alt="team image">
            <div class="overlay text-center p-2">
                <h6>{{team.name}}<br>
                    <small *ngIf="team.code">{{team.code}}</small><br *ngIf="team.code">
                    <small>{{team.createdDate | date:'yyyy-MM-dd'}}</small>
                </h6>
            </div>
        </div>
    </a>
    <div class="card-body p-0 container">
        <!-- <a class="card-title list-group-flush" [routerLink]="['../team', team.id ]"><h5 class="text-center">{{team.name}}</h5></a> -->
        <div class="card-text list-group list-group-flush">
            <!-- <div *ngIf="team.code" class="list-group-item">{{team.code}}</div> -->
            <!-- <a *ngIf="allOthers" [routerLink]="['../user-info', team.teamHeadId ]" [queryParams]="{ userId: team.teamHeadUserId, userLogin: team.teamHeadUserLogin }" class="list-group-item">
                    <div class="media">
                        <div>
                            <img *ngIf="team.teamHeadImage" [src]="'data:' + team.teamHeadImageContentType + ';base64,' + team.teamHeadImage" style="max-width: 150px;" alt="userInfo image" class="teamhead-image img-circle mr-3" />
                            <img *ngIf="!team.teamHeadImage" src="../../../content/images/user_200.png" style="max-width: 150px" alt="userInfo image" class="teamhead-image img-circle mr-3" />
                            <!-- <br>
                        [{{team.teamHeadUserLogin}}] >
                        </div>
                        <div class="media-body">
                            <span class="mt-0">{{team.teamHeadCallingName || team.teamHeadUserFirstName}}</span>
                            <!-- <br>
                        <small>{{team.teamHeadUserLastName}}, {{team.teamHeadUserFirstName}}</small> >
                        </div>
                    </div>
                    <small>{{team.teamHeadUserLastName}}, {{team.teamHeadUserFirstName}}</small>
                </a> -->
            <!-- <div class="list-group-item">Created: {{team.createdDate | date:'yyyy-MM-dd'}}</div> -->
            <div class="list-group-item m-0 p-3 row">
                <span class="col-md-auto m-0 p-0">
                        <ng-template #popTeamheadContent>
                            <div class="media">
                                <div>
                                    <img *ngIf="team.teamHeadImage" [src]="'data:' + team.teamHeadImageContentType + ';base64,' + team.teamHeadImage" style="max-width: 150px;" alt="userInfo image" class="mr-3" />
                                    <img *ngIf="!team.teamHeadImage" src="../../../content/images/user_200.png" style="max-width: 150px" alt="userInfo image" class="mr-3" />
                                    <!-- <br>
                                                [{{teamMember.userInfoUserLogin}}]  -->
                                </div>
                                <div class="media-body">
                                    <div class="mt-0">{{team.teamHeadCallingName || team.teamHeadUserFirstName}}</div>
                                    <div>{{team.teamHeadUserLastName}}, {{team.teamHeadUserFirstName}}</div>
                                    <div>{{team.teamHeadUserEmail}}</div>
                                    <div>{{team.teamHeadPhone}}</div>
                                </div>
                            </div>
                        </ng-template>
                        <button type="button" (click)="coordinates($event)" class="btn btn-primary m-0 p-0 rounded-circle" [ngbPopover]="popTeamheadContent" popoverTitle="{{team.teamHeadfoCallingName || team.teamHeadUserFirstName}}" #pHead="ngbPopover" triggers="focus:blur" placement="{{popoverPlacement}}" container="body">
                            <img *ngIf="team.teamHeadImage" [src]="'data:' + team.teamHeadImageContentType + ';base64,' + team.teamHeadImage" alt="userInfo image" class="teamhead-image img-circle" />
                            <img *ngIf="!team.teamHeadImage" src="../../../content/images/user_200.png" alt="userInfo image" class="teamhead-image img-circle" />
                        </button>
                    </span>
                <span class="col m-0 p-0" *ngFor="let teamMember of teamMembers">
                        <ng-template #popUserContent>
                            <div>
                                <div class="media">
                                    <div>
                                        <img *ngIf="teamMember.userInfoImage" [src]="'data:' + teamMember.userInfoImageContentType + ';base64,' + teamMember.userInfoImage" style="max-width: 150px;" alt="userInfo image" class="mr-3" />
                                        <img *ngIf="!teamMember.userInfoImage" src="../../../content/images/user_200.png" style="max-width: 150px" alt="userInfo image" class="mr-3" />
                                        <!-- <br>
                                                    [{{teamMember.userInfoUserLogin}}]  -->
                                    </div>
                                    <div class="media-body">
                                        <div class="mt-0">{{teamMember.userInfoCallingName || teamMember.userInfoUserFirstName}}</div>
                                        <div>{{teamMember.userInfoUserLastName}}, {{teamMember.userInfoUserFirstName}}</div>
                                        <div>{{teamMember.userInfoUserEmail}}</div>
                                        <div>{{teamMember.userInfoPhone}}</div>
                                    </div>
                                </div>
                                <div *ngIf="isAdmin || teamMember.userInfoUserLogin === currentAccount.login || (teamMember.userInfoUserLogin !== currentAccount.login && team.teamHeadUserLogin === currentAccount.login)" class="card-footer">
                                    <div class="btn-group flex-btn-group-container">
                                        <!-- <button *ngIf="teamMember.userInfoUserLogin === currentAccount.login" type="submit" [routerLink]="['/', { outlets: { popup: 'team-member/'+ teamMember.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm"> -->
                                        <button *ngIf="teamMember.userInfoUserLogin === currentAccount.login" type="button" (click)="confirmDelete(teamMember.id)" class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline">Remove Me</span>
                </button>
                <!-- <button *ngIf="isAdmin || (teamMember.userInfoUserLogin !== currentAccount.login && team.teamHeadUserLogin === currentAccount.login)" type="submit" [routerLink]="['/', { outlets: { popup: 'team-member/'+ teamMember.id + '/delete'} }]" replaceUrl="true" -->
                <button *ngIf="isAdmin || (teamMember.userInfoUserLogin !== currentAccount.login && team.teamHeadUserLogin === currentAccount.login)" type="button" (click)="confirmDelete(teamMember.id)" class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline">Remove</span>
                                        </button>
            </div>
        </div>
    </div>
    </ng-template>
    <button type="button" (blur)="closePopover(pUser)" (click)="coordinates($event)" class="btn btn-info m-0 p-1 rounded-circle" [ngbPopover]="popUserContent" popoverTitle="{{teamMember.userInfoCallingName || teamMember.userInfoUserFirstName}}" #pUser="ngbPopover"
        placement="{{popoverPlacement}}" container="body" *ngIf="teamMember.userInfoId !== team.teamHeadId && teamMember.userInfoUserLogin === currentAccount.login">
                            <img *ngIf="teamMember.userInfoImage" [src]="'data:' + teamMember.userInfoImageContentType + ';base64,' + teamMember.userInfoImage" alt="userInfo image" class="teammember-image img-circle" />
                            <img *ngIf="!teamMember.userInfoImage" src="../../../content/images/user_200.png" alt="userInfo image" class="teammember-image img-circle" />
                        </button>
    <button type="button" (blur)="closePopover(pUser)" (click)="coordinates($event)" class="btn btn-primary m-0 p-0 rounded-circle" [ngbPopover]="popUserContent" popoverTitle="{{teamMember.userInfoCallingName || teamMember.userInfoUserFirstName}}" #pUser="ngbPopover"
        placement="{{popoverPlacement}}" container="body" *ngIf="teamMember.userInfoId !== team.teamHeadId && teamMember.userInfoUserLogin !== currentAccount.login">
                            <img *ngIf="teamMember.userInfoImage" [src]="'data:' + teamMember.userInfoImageContentType + ';base64,' + teamMember.userInfoImage" alt="userInfo image" class="teammember-image img-circle" />
                            <img *ngIf="!teamMember.userInfoImage" src="../../../content/images/user_200.png" alt="userInfo image" class="teammember-image img-circle" />
                        </button>
    </span>
    <span *ngIf="isAdmin || team.teamHeadUserLogin === currentAccount.login" class="col m-0 p-0">
                        <button class="btn btn-outline-primary rounded-circle" [routerLink]="['/', { outlets: { popup: ['team-member-new'] } }]" [queryParams]="{ teamId: team.id, teamName: team.name }" replaceUrl="true" queryParamsHandling="merge">
                            <span class="fa fa-plus"></span>
    </button>
    </span>
    <span class="col m-0 p-0">
                        <button *ngIf="!isMember && team.active && team.teamHeadUserLogin !== currentAccount.login && !isAdmin" type="submit" [routerLink]="['/', { outlets: { popup: ['team-member-new'] } }]" [queryParams]="{ teamHeadUserLogin: team.teamHeadUserLogin, userLogin: currentAccount.login, teamId: team.id, teamName: team.name }"
                            class="btn btn-outline-info rounded-circle ng-hide" replaceUrl="true" queryParamsHandling="merge">
                                <span class="fa fa-plus"></span>
    <!-- <span class="d-none d-md-inline">Join Team</span> -->
    </button>
    </span>
</div>
</div>
</div>
<!-- <div class="card-footer" *ngIf="team.teamHeadUserLogin === currentAccount.login || isAdmin">
    <div class="btn-group flex-btn-group-container">
        <button *ngIf="team.teamHeadUserLogin === currentAccount.login || isAdmin" type="submit" [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>
                    <span class="d-none d-md-inline">Edit</span>
                </button>
        <button *ngIf="team.teamHeadUserLogin === currentAccount.login || isAdmin" type="submit" [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                    <span class="fa fa-remove"></span>
                    <span class="d-none d-md-inline">Delete</span>
                </button>
    </div>
</div> -->
</div>